html {
    background-color: gray;
}

canvas {
    background-color: white;
}

header {
    width: 100%;
    margin: 0.5%;
    display: flex;
    justify-content: left;
}

.right {
    margin-left: auto;
}

.show {
    background-color: slategray;
}

.cb {
    color: black;
    background-color: black;
}

.cr {
    color: red;
    background-color: red;
}

.cy {
    color: yellow;
    background-color: yellow;
}

.cm {
    color: magenta;
    background-color: magenta;
}

.cc {
    color: cyan;
    background-color: cyan;
}

.cu {
    color: blue;
    background-color: blue;
}

.cg {
    color: green;
    background-color: green;
}

.cw {
    color: white;
    background-color: white;
}